.input-todo {
    margin-top: 100px;
}

.input-todo button {
    color: white;
    background-color: green;
    cursor: pointer;
    padding: 0.5rem;
}

.input-todo input {
    width: 20rem;
    padding: 0.5rem;
    border: 1px solid;
}

.input-todo button:hover,
.input-todo button:active {
    background-color: black;
    border-color: #510674;
}

.input-todo {
    margin: 1rem 0;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

    padding: 1rem 2rem;
    cursor: pointer;
}

.input-todo input {
    margin: 1rem 0;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

    padding: 1rem 2rem;
    cursor: pointer;

}